body {
  font-family: $fontMain;
  color: $colorBlack;
  background-color: #f4f1ef;

  &.hidden {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}

label,
textarea,
input {
  font-family: $fontMain;
}

.siteWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;

  .footer {
    margin-top: auto;
  }

  &.innerPage {
    .main {
      padding-top: 125px;
    }
  }
}

.logo-wrapper {
  position: relative;
  @include invisLink;
  @include transition(all 0.3s);
  & > a {
    z-index: auto;
  }
}

.main {
  width: 100%;
}

.text-simple {
  font-weight: 300;
  font-size: 16px;
  line-height: 35px;
  color: #292929;

  p {
    & + p {
      margin-top: 33px;
    }
  }

  ul {
    margin-top: 20px;
    display: flex;
    flex-flow: column wrap;
    height: 360px;
    gap: 0 135px;

    li {
      position: relative;
      padding-left: 8px;
      line-height: 45px;
      width: calc(50% - 66px);

      @include before {
        top: 20px;
        left: 0;
        width: 3px;
        height: 3px;
        @include border-radius(50%);
        background-color: #292929;
      }
    }
  }
}

.menu-burger {
  width: 27px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  @include transition(all 0.3s);
  white-space: nowrap;

  &.open {
    .line {
      opacity: 0;
    }

    .menu-burger__close {
      display: flex;
      opacity: 1;
      pointer-events: inherit;
    }
  }

  .line {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $colorWhite;

    & + .line {
      margin-top: 2px;
    }
  }

  &__close {
    display: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $colorWhite;
    @include transition(all 0.3s);
    align-items: center;
    gap: 10px;
    opacity: 0;
    pointer-events: none;
    width: 95px;
  }
}

.swiper-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 147px;

  %swiper-button {
    width: 60px;
    height: 60px;
    position: relative;
    display: block;
    @include border-radius(50%);
    background-color: rgba(169, 161, 156, 0.8);
    @include transition(all 0.3s);
    margin: 0;

    &::after {
      display: none;
    }

    &:hover {
      background-color: rgba(169, 161, 156, 1);
    }

    svg {
      position: relative;
      @include transition(all 0.3s);
    }
  }

  .swiper-button-prev {
    @extend %swiper-button;

    svg {
      left: -29px;
    }
  }
  .swiper-button-next {
    @extend %swiper-button;

    svg {
      right: -23px;
    }
  }
}

.link-simple {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #001136;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  @include transition(color 0.3s);

  svg {
    fill: #001136;
    margin-top: 15px;
    @include transition(fill 0.3s);
  }

  &:hover {
    color: #12295b;

    svg {
      fill: #12295b;
    }
  }
}

.input-item {
  position: relative;

  %stylesInput {
    border: 0;
    border-bottom: 1px solid $colorBlack;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $colorBlack;
    background: transparent;
    width: 100%;

    &::placeholder {
      opacity: 1;
    }
  }

  label {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #80726a;
    display: block;
  }

  textarea {
    @extend %stylesInput;
  }

  input {
    @extend %stylesInput;
    padding: 14px 0;
  }

  .icon {
    position: absolute;
    bottom: 9px;
    right: 1px;

    svg {
      color: $colorBlack;
      fill: $colorBlack;
    }
  }
}

.check-block {
  display: flex;
  align-items: center;
  min-height: 36px;

  input {
    display: none;

    &:checked {
      & + label {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  label {
    cursor: pointer;
    padding-left: 38px;
    position: relative;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: $colorBlack;
    display: block;
    text-align: left;

    @include before {
      left: 0;
      top: 50%;
      width: 25px;
      height: 25px;
      margin-top: -12.5px;
      border: solid 1px #80726a;
      @include border-radius(50%);
    }

    @include after {
      top: 50%;
      left: 8px;
      top: 50%;
      width: 9.29px;
      height: 9.29px;
      margin-top: -4px;
      background-color: #80726a;
      @include border-radius(50%);
      opacity: 0;
    }
  }
}

.counter {
  position: relative;
  color: $colorBlack;
  font-weight: 300;
  font-size: 14px;
  line-height: 60px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  width: 75px;
  height: 25px;
  text-align: center;

  %centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include transition(color 0.3s);
    @include border-radius(50%);
    height: 100%;
  }

  &__minus {
    width: 25px;
    cursor: pointer;
    @extend %centered;
    background-color: rgba(169, 161, 156, 0.2);

    &:hover {
      color: $colorBlack;
    }
  }

  &__text {
    position: relative;
    width: 20px;
    flex: 1;
    @extend %centered;
  }

  &__plus {
    width: 25px;
    cursor: pointer;
    @extend %centered;
    background-color: rgba(169, 161, 156, 0.2);

    &:hover {
      color: $colorBlack;
    }
  }
}

.selectric {
  border: 0;
  border-bottom: 1px solid $colorBlack;
  background: transparent;
  width: 100%;
  height: 47px;
  width: 100%;
  @include border-radius(0);

  .label {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $colorBlack;
    height: 100%;
    padding: 14px 0;
    margin: 0;
  }

  .button {
    width: 48px;
    height: 100%;
    background: transparent;
    display: flex;

    &::after {
      display: none;
    }
  }
}

.selectric-wrapper {
  border: 0;
  outline: none;

  &.selectric-hover {
    .selectric {
      border-color: $colorBlack;
    }
  }

  &.selectric-open {
    .selectric {
      border-color: $colorBlack;

      .button {
        @include transform(scale(1, -1));
      }
    }
  }

  &.selectric-above {
    .selectric-items {
      border: solid 1px $colorBlack;
    }

    .selectric-scroll ul {
    }
  }
}

.selectric-items {
  background: transparent;
  background-color: #f4f1ef;
  border: 1px solid $colorBlack;
  border-top: 0;
  overflow: hidden;
  @include border-radius(0);
  @include box-shadow(none);
  z-index: -1;
}

.selectric-scroll {
  border: 0;
  ul {
    padding-top: 5px;

    li {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #7b7b7b;
      padding: 10px 10px;
      @include transition(all 0.3s);

      &.highlighted,
      &.selected {
        background: transparent !important;
        text-decoration: underline;
        color: $colorBlack;
      }
      &:hover {
        background: transparent !important;
        color: $colorBlack;
      }
    }
  }
}

.ui-datepicker {
  background-color: #f4f1ef;
  border: solid 1px $colorBlack !important;
  @include border-radius(0);
  @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.33));
  width: 320px;
  z-index: 5 !important;

  .ui-datepicker-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background: transparent;
    border: 0;
  }

  .ui-datepicker-prev {
    cursor: pointer;
    width: 31px;
    overflow: hidden;
    color: transparent;
    order: 2;
    background: transparent;
    border: 0;
    background-position: left center;
    background-repeat: no-repeat;
    top: 9px;
    left: 15px;
  }
  .ui-datepicker-next {
    cursor: pointer;
    width: 31px;
    overflow: hidden;
    color: transparent;
    order: 0;
    background: transparent;
    border: 0;
    background-position: right center;
    background-repeat: no-repeat;
    top: 9px;
    right: 15px;
  }
  .ui-datepicker-title {
    order: 1;
    color: $colorBlack;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;

    .ui-datepicker-month {
      color: $colorWhite;
      background-color: $colorBlack;
      font-weight: bold;
      @include border-radius(0);
      padding: 0 5px;
    }

    .ui-datepicker-year {
      display: block;
      font-size: 16px;
      margin: 0 3px;
    }
  }
}

.ui-datepicker-calendar {
  thead {
    tr {
      th {
        color: $colorBlack;
      }
    }
  }
  tbody {
    tr {
      td {
        background: transparent;
        padding: 5px;

        .ui-state-default {
          color: $colorBlack;
          border: 0 !important;
          background: transparent !important;
          text-align: center;
          @include border-radius(0);
          padding: 5px;

          &.ui-state-active,
          &:hover {
            background-color: #12295b !important;
            color: $colorWhite;
          }
        }

        &.ui-state-disabled {
          opacity: 0.33;
        }

        &.ui-datepicker-today {
          a {
            color: $colorBlack;
          }
        }
      }
    }
  }
}

.ui-datepicker {
  select {
    &.ui-datepicker-month {
      padding: 6px !important;
      font-size: 13px;
    }
  }

  .ui-widget-header {
    .ui-datepicker-next {
      width: auto;

      .ui-icon {
        background-image: url("../img/arrow-right.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        left: auto;
        top: auto;
        width: 30px;
        height: 30px;
        margin: 0;
        position: relative;
      }
    }
    .ui-datepicker-prev {
      height: auto;

      .ui-icon {
        background-image: url("../img/arrow-left.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        left: auto;
        top: auto;
        width: 30px;
        height: 30px;
        margin: 0;
        position: relative;
      }
    }
  }
}

.link-dev {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #8d8d8d;
  @include transition(color 0.3s);

  &:hover {
    color: $colorWhite;
  }
}

.tabs-wrapper {
  padding: 23px 0;
}

.tabs {
  .caption {
    left: -15px;
  }

  .caption__desc {
    margin-top: 20px;
  }

  &__links {
    display: flex;
    gap: 168px;
    border-bottom: 1px solid #cbc1bc;
    margin-top: 25px;
    padding-bottom: 9px;
    overflow-x: auto;
    overflow-y: hidden;

    li {
      &.active {
        .tabs__link {
          &::before {
            width: 24px;
            margin-left: -12px;
          }
        }
      }
    }
  }

  &__link {
    font-weight: 300;
    font-size: 20px;
    line-height: 60px;
    text-transform: uppercase;
    color: #80726a;
    position: relative;
    white-space: nowrap;

    @include before {
      width: 0px;
      height: 2px;
      bottom: -28px;
      left: 50%;
      background-color: #001136;
      margin-left: 0;
    }
  }

  &__body {
    margin-top: 41px;
  }

  .gallery {
    left: -175px;
    width: calc(100% + 175px + 175px);
    gap: 4px;
    padding: 4px 0;
  }

  .gallery__item {
    width: calc(100% / 3 - 3px);

    &:hover {
      .lupa {
        opacity: 1;
      }
    }
  }
}

.pagination {
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 84px;

  li {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #a29b9b;
  }

  a {
    color: #a29b9b;
    @include transition(color 0.3s);

    &:hover,
    &.active {
      color: $colorBlack;
    }
  }

  svg {
    fill: #292929;
    @include transition(fill 0.3s);
  }

  &__next {
    margin-left: 45px;
  }

  &__prev {
    margin-right: 45px;
  }

  &__prev,
  &__next {
    &:hover {
      svg {
        fill: #a29b9b;
      }
    }
  }
}

// modals base

.modal {
  font-family: $fontMain;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #292929;
}

.modal.is-open {
  display: block;
  z-index: 15;
  position: fixed;
}

.modal__container {
  overflow: auto;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  padding: 50px 0;
}

.modal__content {
  padding: 0;
  margin: 0;

  .link {
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    @include transition(all 0.3s);
    color: #4c535b;
    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.modal__close {
  @include transition(all 0.3s);
  position: absolute;
  right: 29px;
  top: 32px;
  display: flex;
  z-index: 10;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  align-items: center;
  gap: 11px;

  &:hover {
    opacity: 0.75;
  }
}

.modal__content {
  .scroll {
    &::-webkit-scrollbar {
      width: 5px;
      @include border-radius(10px);
      margin-right: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #d9d9d9;
      @include border-radius(10px);
    }

    &::-webkit-scrollbar-thumb {
      background: $colorBlack;
      @include border-radius(10px);
    }
  }
}

.modal__inner {
  background-color: #f4f1ef;
  margin: 0 auto;
  position: relative;
  background-image: url("../img/logo-big.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  .caption {
    font-size: 60px;
    line-height: 60px;
    left: -15px;
    letter-spacing: -0.1em;
  }

  .caption__desc {
    margin-top: 20px;
  }
}

#modal-call {
  .modal__inner {
    max-width: 590px;
    padding: 90px 90px;
  }

  .input-list {
    margin-top: 35px;
  }

  .input-item {
    & + .input-item {
      margin-top: 30px;
    }
  }

  .check-block {
    margin-top: 33px;

    label {
      font-size: 12px;
      line-height: 20px;
    }
  }

  .btn {
    margin: 20px auto 0;
    padding-left: 30px;
    padding-right: 120px;
  }
}

#modal-reservation {
  .modal__inner {
    max-width: 918px;
    padding: 90px 90px;
  }

  .reservation__form {
    margin: 0;
    padding: 0;

    &::before {
      display: none;
    }
  }

  .input-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 34px;
    max-width: 100%;
    margin-bottom: -52px;
  }

  .input-item {
    width: calc(calc(100% / 3) - 25px);
    margin-bottom: 52px;

    &:nth-child(1) {
      width: calc(50% - 25px);
    }

    &:nth-child(2) {
      width: calc(50% - 25px);
    }
  }

  .check-block {
    margin-top: 25px;
  }

  .btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 29px;
    min-width: 264px;
  }

  .counter-wrapper {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-top: 7px;
  }
}

#modal-result {
  .modal__inner {
    max-width: 650px;
    padding: 90px 70px;
  }

  .text-simple {
    margin-top: 25px;
  }
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: inherit;
}

.ui-datepicker {
  z-index: 999 !important;
}

div {
  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    left: 5px;
  }

  &::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.33);
    @include border-radius(10px);
  }

  scrollbar-color: rgba(255, 255, 255, 0.33) transparent;
  scrollbar-width: thin;
}

// хаки для хрома scroll чтобы не дергался

@media (min-width: 1200px) {
  _:-webkit-any-link,
  :root .modal-open {
    padding-right: 17px;

    .header {
      width: calc(100% - 17px);
    }
  }

  _:-webkit-any-link,
  :root .hidden {
    padding-right: 17px;

    .header {
      width: calc(100% - 17px);
    }
  }

  _:-webkit-any-link,
  :root body.compensate-for-scrollbar {
    padding-right: 17px;

    .header {
      width: calc(100% - 17px);
    }
  }
}
