.btn {
  position: relative;
  @include transition(all 0.3s);
  @include border-radius(30px);
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: $colorWhite;
  border: 0.5px solid transparent;
  text-align: center;

  &.btnWhite {
    border-color: $colorWhite;
    padding: 12px 12px;

    &:hover {
      background-color: $colorWhite;
      color: $colorBlack;
    }
  }

  &.btnBlack {
    border-color: #292929;
    color: #292929;
    background-color: transparent;

    &:hover {
      background-color: #292929;
      color: $colorWhite;
    }
  }

  &.btnBlue {
    border-color: #001136;
    background-color: #001136;
    padding: 17px 90px 17px 28px;
    text-align: left;

    &:hover {
      background-color: #12295b;
    }

    svg {
      fill: $colorWhite;
    }
  }

  &.load-more {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-left: 60px;

    svg {
      margin-top: -8px;
    }
  }

  &.load-menu {
    display: inline-block;
    padding: 15px 95px 15px 65px;
    z-index: 5;

    svg {
    }

    &:hover {
      path {
        &:nth-child(4) {
          stroke: $colorWhite;
        }

        &:nth-child(3),
        &:nth-child(2),
        &:nth-child(1) {
          fill: $colorWhite;
        }
      }
    }
  }

  &.btn-basket-add {
    border: solid 1px #001136;
    color: #001136;
    padding: 14px 77px 14px 59px;

    &:hover {
      background-color: #001136;
      color: $colorWhite;
    }

    @include before {
      content: "+";
      position: absolute;
      top: 0;
      right: 25px;
      width: 20px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 35px;
      line-height: 43px;
      font-weight: 200;
    }
  }

  &.btn-delete {
    text-decoration-line: underline;
    color: #001136;
    display: inline-flex;
    align-items: center;
    gap: 19px;
    @include transition(all 0.3s);

    svg {
      position: relative;
      right: auto;
      top: auto;
      margin: 0;
    }

    path {
      stroke: #001136;
    }

    &:hover {
      opacity: 0.75;
      text-decoration-color: transparent;
    }
  }

  &.btn-basket-delete {
    text-decoration-line: underline;
    color: #001136;
    display: inline-flex;
    align-items: center;
    gap: 19px;
    @include transition(all 0.3s);

    svg {
      position: relative;
      right: auto;
      top: auto;
      margin: 0;
    }

    path {
      stroke: #001136;
    }

    &:hover {
      opacity: 0.75;
      text-decoration-color: transparent;
    }
  }

  svg {
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -15px;
  }

  .icon {
    position: absolute;
    right: 35px;
    top: 50%;
    margin-top: -15px;
  }
}
