.caption {
  position: relative;
  font-family: $fontKaisel;
  color: #292929;
  text-transform: uppercase;

  &__desc {
    font-weight: 300;
    font-size: 45px;
    line-height: 60px;
    text-transform: uppercase;
    color: #292929;
    display: block;
  }
}

h1 {
  font-weight: 700;
  font-size: 75px;
  line-height: 60px;
  text-transform: uppercase;
}

h2 {
  font-weight: 300;
  font-size: 45px;
  line-height: 60px;
  font-family: $fontMain;
}

h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 60px;
}

h4 {
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: -0.1em;
  color: $colorBlack;
}
