.caption {
  position: relative;
  font-family: $fontKaisel;
  color: #292929;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 75px;
  line-height: 60px;

  &__desc {
    font-weight: 300;
    font-size: 45px;
    line-height: 60px;
    text-transform: uppercase;
    color: #292929;
    display: block;
  }
}
