@media (max-width: 1199px) {
  .menu {
    display: none;
  }

  .phone-block {
    display: none;
  }

  .header .btn {
    display: none;
  }

  .mobile-phone {
    display: block;

    svg {
      fill: $colorWhite;
    }
  }

  .header {
    .logo-wrapper {
      margin-left: -105px;
      width: 170px;
    }
  }

  .grettings-item {
    .title {
      font-size: 35px;
      line-height: 40px;
    }

    .adress {
      font-size: 20px;
      line-height: 28px;
    }
  }

  .concept-item {
    min-height: inherit;

    .picture {
      right: auto;
      left: 0;
      top: 160px;
      width: 100%;
      height: 380px;
    }

    .text-simple {
      margin-top: 425px;
    }
  }

  .concept-item__content {
    padding: 0 15px;
    max-width: 100%;
  }

  .concept-item--center .swiper-controls {
    width: 100%;
    justify-content: flex-end;
    gap: 32px;
    margin-top: 25px;
    left: auto;
  }

  .header__content {
    min-height: 100px;
    padding: 0;
  }

  .restaurant-menu__head .row {
    flex-wrap: wrap;
    gap: 30px;
  }

  .restaurant-menu__head .col:nth-child(2) {
    flex: auto;
    width: calc(100% - 195px);
  }

  .restaurant-menu__head .text-simple {
    padding-right: 30px;
    padding-left: 0;
  }

  .restaurant-menu .swiper-slide:nth-child(1) {
    width: 620px;
  }

  .restaurant-menu .picture {
    height: 400px;
  }

  .boss {
    padding: 100px 0 50px;
  }

  .boss__picture--left {
    display: none;
  }

  .boss__content {
    max-width: 560px;
    margin: 0;
    @include transform(translateX(0));
  }

  .boss__picture--right {
    width: 565px;
    height: 600px;
    left: calc(50% + 165px);
    top: 50%;
    margin-top: -300px;
  }

  .restaurant-location__rightSide {
    width: 100%;
    height: 350px;
    left: 0;
    position: absolute;
    top: 460px;
  }

  .restaurant-location {
    padding: 70px 0;
  }

  .restaurant-location__content {
    margin-top: 400px;
  }

  .restaurant-location .swiper-controls {
    position: relative;
    left: 20px;
    bottom: auto;
  }

  .news-main {
    padding: 50px 0;
  }

  .news-main__head .row {
    flex-wrap: wrap;
    gap: 30px;
  }

  .news-main__head .col:nth-child(2) {
    flex: auto;
    width: calc(100% - 195px);
  }

  .news-main__head .text-simple {
    padding-right: 30px;
    padding-left: 0;
  }

  .news-main .swiper-slide:nth-child(1) {
    width: 620px;
  }

  .news-main .swiper-slide {
    width: 437px;
  }

  .footer {
    padding: 70px 0;
  }

  .menu-open__content {
    display: block;
  }

  .menu-open__phone-call {
    justify-content: flex-start;
    top: 0;
    margin-top: 20px;
  }

  .menu-open__social {
    justify-content: flex-start;
    margin-top: 20px;
  }

  .menu-open__info {
    margin-top: 50px;
  }

  .menu-open__phone-call .btn {
    display: block;
  }

  .menu-open__bron {
    display: block;
  }

  .menu-open__bron .btn {
    display: inline-block;
    margin-top: 20px;
  }

  .gallery .swiper-wrapper {
    flex-wrap: nowrap;
  }

  .gallery .swiper-controls {
    display: flex;
  }

  .gallery__mobile__head {
  }

  .aos-animate {
    .gallery__grettings {
      pointer-events: none;

      &::before {
        opacity: 0;
      }
    }
    .gallery__leftSide {
      @include transform(translateX(-2000px));
    }
  }

  .gallery__leftSide .caption {
    font-size: 60px;
    line-height: 65px;
  }

  .gallery__leftSide .desc {
    font-size: 38px;
    line-height: 30px;
  }

  .gallery__grettings {
    padding: 2%;
    align-items: flex-start;
    justify-content: flex-end;
    @include transition(all 1s 1s);

    &:before {
      @include transition(all 1s 1s);
    }

    &:hover {
      .gallery__leftSide {
        @include transform(translateX(-2000px));
      }
    }
  }

  .gallery__leftSide {
    @include transition(all 1s 1s);
  }

  .gallery__rightSide {
    display: none;
  }

  // .gallery__leftSide {
  //   @include transform(translateX(0%) !important);
  //   margin-bottom: 40px;

  //   .caption {
  //     color: $colorBlack;
  //   }
  // }

  .gallery__text {
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 30%;
    bottom: 0;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    top: auto !important;
  }

  .gallery__item::before {
    height: 30%;
    opacity: 1;
    bottom: 0;
    top: auto;
  }

  .siteWrapper.innerPage .main {
    padding-top: 100px;
  }

  .grettings-inner .caption {
    font-size: 60px;
    line-height: 70px;
  }

  .restaurant-contacts .gallery__item:hover::before,
  .tabs .gallery__item:hover::before {
    opacity: 0.8;
  }

  .restaurant-contacts .gallery__item::before,
  .tabs .gallery__item::before {
    height: 100%;
    top: 0;
    opacity: 0;
  }

  .text-block .caption {
    left: -7px;
  }

  .restaurant-contacts .gallery,
  .tabs .gallery {
    width: 100%;
    left: 0;
    gap: 0;
  }

  .map-section {
    display: flex;
    flex-direction: column;
  }

  .map-section__content {
    max-width: 100%;
    width: 100%;
    order: 2;
  }

  .map-section__map {
    order: 1;
    position: relative;
    left: 0;
    top: auto;
    width: 100%;
    height: 380px;
    margin-top: 0;
  }

  .map-section__list li + li {
    margin-top: 30px;
  }

  .get-directions {
    margin-top: 50px;
  }

  .services-item__picture.desktop {
    display: none;
  }

  .services-item__picture.mobile {
    width: 100%;
    left: 0;
    height: auto;
    top: auto;
    position: relative;
    margin-top: 30px;
    display: block;
    padding-top: calc(320 / 500 * 100%);
    @include transform(translateX(0px) !important);

    .picture {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .services .caption {
    left: -7px;
  }

  .services-item__content {
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .services .text-simple {
    margin-top: 30px;
  }

  .text-block {
    padding: 50px 0;
  }

  .restaurant-contacts .caption {
    left: -7px;
  }

  .news-page__content {
    width: 100%;
    max-width: 100%;
  }

  .news-page .text-simple {
    margin-top: 30px;
  }

  .news-page .picture {
    position: relative;
    width: 100%;
    height: auto;
    margin: 30px 0;
    right: auto;
    top: auto;
    left: auto !important;
    display: block;
    overflow: hidden;
  }

  .news-page__list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .news-page__item {
    width: calc(50% - 15px);
    min-height: inherit;
    padding-bottom: 0;
  }

  .news-page__item + .news-page__item {
    margin-top: 0;
  }

  .pagination {
    margin-top: 40px;
  }

  .news-page__name {
    font-size: 18px;
    line-height: 30px;
  }

  .new-block__content {
    max-width: 100%;
    padding-top: 30px;
  }

  .new-block .picture {
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    margin: 30px 0;
    display: block;
  }

  .new-block .text-simple {
    margin-top: 0;
  }

  .new-block__social {
    margin-top: 30px;
  }

  .news-main .caption {
    max-width: 60%;
    line-height: 60px;
  }

  .detail-form {
    width: 100%;
    margin-bottom: 30px;
  }

  .order-list {
    .order-col {
      width: 100%;

      & + .order-col {
        margin-top: 20px;
      }
    }
  }

  .thanks .caption {
    left: -7px;
  }

  .not-page {
    font-size: 20px;
    line-height: 35px;
    padding: 100px 0;
  }

  .delivery-item__content {
    max-width: 100%;
    width: 100%;
  }

  .delivery-item__picture {
    left: auto;
    width: 100%;
    top: auto;
    margin-top: 0;
    position: relative;
    max-width: 100%;
    height: auto;
    margin: 30px auto;
    right: auto;
  }

  .delivery-item ul {
    margin-top: 0;
    gap: 20px;
  }

  .delivery-item + .delivery-item {
    margin-top: 50px;
  }

  .delivery-item:nth-child(2n) .delivery-item__picture {
    right: auto;
  }

  .adress-block {
    display: flex;
    margin-right: 30px;
    font-size: 14px;
    line-height: 18px;
  }

  .menu-product .col:nth-child(3) {
    text-align: left;
    width: 50%;
  }
}
